# Auto detect text files and perform LF normalization
* text=auto

# Windows batch files must be checked out with CRLF (cmd misbehaves with LF)
*.bat    text eol=crlf

# Custom for csharp
*.cs     diff=csharp
